.articleWrapper {
    box-sizing: border-box;
    padding-left: 1em;
        article {
        color: $fontColor;
        
        padding: 1em;
        margin: 0 auto;
        border-bottom: 2px solid grey;
            p {
                padding: 1em 0;
            }
        }
}