// Czy nie mogę używać @extend wewnątrz @media?
%menuStyle {
    list-style-type: none;
    line-height: 2em;
    font-weight: 700;
    background-color: $mainColor;
    padding: 0 0.5em;
    margin-bottom: 0.2em;
    border-radius: 2px;
}

.menuWrapper {
    position: relative;
}

.mobileMenu {
    height: 30px; // width: 30px;
    background: url('../images/hamburger.svg') no-repeat top left;
    border-radius: 5px;
    span {
        padding: 0 0 0 50px;
        line-height: 25px;
        font-weight: 600;
        display: inline-block;
    }
    @media (min-width: 1024px) {
        display: none;
    }
}

.bigMenu.active {
    position: relative;
    right: 0%;
    width: 100vw;
    height: 100vh;
    transition: right .6s;
    li {
        padding-top: 1em;
        margin-left: 0.5em;
    }
}

.bigMenu {
    position: absolute;
    right: 100%;
    @extend %menuStyle;
    @media (min-width: 1024px) {
        position: sticky;
        top: 0;
        display: block;
        padding: 1em;
        li {
            list-style-type: none;
            line-height: 2em;
            font-weight: 700;
            background-color: $mainColor;
            padding: 0 0.5em;
            margin-bottom: 0.2em;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                background-color: $hoverColor;
                box-shadow: 5px 10px 8px $shadowColor;
            }
            &:last-child {
                &:hover {
                    background-color: #9b0c0c;
                    box-shadow: 5px 10px 8px $shadowColor;
                    color: white;
                }
            }
        }
    }
}

#categories {
    li {
        list-style-type: none;
        line-height: 2em;
        font-weight: 700;
        background-color: $mainColor;
        padding: 0 0.5em;
        margin-bottom: 0.2em;
        border-radius: 2px;
        &:hover {
            background-color: $hoverColor;
            box-shadow: 5px 10px 8px #772f1373;
        }
        &:last-child {
            &:hover {
                background-color: $mainColor;
                color: $fontColor;
            }
        }
    }
}